{% load static %}
<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
        <!--    <span>Copyright &copy; iksaan.com 2022</span> -->

            <ul class="nav justify-content-center border-bottom pb-3 mb-3 mt">
              <li class="nav-item"><a href="{% url "home" %}" class="nav-link px-2 text-muted">Home</a></li>
              <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
              <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
              <li class="nav-item"><a href="{% url "about" %}" class="nav-link px-2 text-muted">About</a></li>
            </ul>
            <p class="text-center" style="color:tomato">&copy; 2022 iksaan.com.</p>
        </div>
    </div>
</footer>
