{% extends 'webapp/base.html'%}
{% block content %}
<div class="row justify-content-center">
  <div class="col-sm-8 ">
    <div class="jumbotron jumbotron-fluid border rounded mt-4">
    <div class="container">
    <h5>About us</h5>
    <p> <a class="fs-5" style="color:tomato"> iksaan.com </a> is a technology company that builds intelligent products and services powered by machine learning.
    Our goal is to help consumers and local businesses vendors better navigate the online and offline world in thier area. We bring all together for online Bazaar by giving them all the help and tools they need to grow online.
    we have delivered world-class, locally relevant search and information services.</p>
    <br><br>
     <h5>The happiness of the user</h5>
     <p><a class="fs-5" style="color:tomato">iksaan.com</a> is designed to make people’s lives easier and better. it creates services for people. Services with both, a deep understanding of the user’s interests and profound knowledge of the users’ reality. Services that change life as we know it and help people achieve their goals.
     </p>
    </div>
    </div>
  </div>
</div>
{% endblock content %}
